* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

header .time {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 35vw;
}

.EUR,
.USD,
.GBP {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 30px;
}

.EUR span,
.USD span,
.GBP span {
  padding-left: 20px;
}

.EUR::before {
  content: '';
  background-image: url('/images/Flag_of_Europe.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.USD::before {
  content: '';
  background-image: url('/images/Flag_of_the_United_States.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.GBP::before {
  content: '';
  background-image: url('/images/Flag_of_the_United_Kingdom.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}
