* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
}

header .time {
  text-align: right;
  padding: 20px 20px 20px 20px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 35vw;
  margin-bottom: 20px;
}

.EUR,
.USD,
.GBP {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 30px;
}

.EUR span,
.USD span,
.GBP span {
  padding-left: 20px;
}

.EUR::before {
  content: '';
  background-image: url('/images/Flag_of_Europe.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.USD::before {
  content: '';
  background-image: url('/images/Flag_of_the_United_States.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.GBP::before {
  content: '';
  background-image: url('/images/Flag_of_the_United_Kingdom.webp');
  background-size: 100px 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

#reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 30%;
  margin: 0 auto;
}
